table {
    border-collapse: collapse;
    /* width: 70%; */
}

tbody tr td {
    height: 100px;
    vertical-align: middle;
    text-align: center;
}




td, th {
    border: 1px solid black;
    padding: 8px;
}

thead th {
    width: 15%;
}