body {
  height: 100vh;
  margin: 0;
}

.page {
  /* LAYOUT BORDER */
  border: 2px solid black;
  width: 99%;
  height: 99%;
  display: flex;
  flex-direction: column;
  padding: 0.1rem;
  margin: 0 auto;
}

.page > * {
  /* LAYOUT BORDER */

  border: 2px dotted black;

  padding: 0.1rem;
  margin: 0.1rem 0.1rem;
  display: flex;
}

.page > * > * {
  /* LAYOUT BORDER */
  border: 1px dotted red;
  padding: 0.1rem;
  margin: 0.1rem 0.1rem;

  display: flex;
}

.page > * > * > * {
  /* LAYOUT BORDER */
  border: 1px dotted blue;
  padding: 0.1rem;

  margin: 0.1rem 0.1rem;

  display: flex;
}

.page > .head {
  flex: 0.5;
}

.page > .body {
  flex: 9;
}

.page > .head > .company {
  flex: 0.15;
  flex-direction: row;
  align-items: stretch;
}

.page > .head > .company > * {
  /* flex: 1; */
  display: flex;
  align-items: center;
  background-color: rgb(242, 185, 223);
}

.page > .head > .menu {
  flex: 1;
  justify-content: end;
  align-items: stretch;
  flex-wrap: wrap;
}

.page > .head > .menu > * {
  margin-inline: 0.1rem;
  display: flex;
  align-items: center;
  background-color: rgb(165, 235, 243);
}

.page > .head > .company > .logo {
  width: 3rem;
}

.page > .head > .company > .logo > img {
  width: 100%;
}

.page > .head > .company > .name {
  flex: 1;
}

/* .page > .head > .menu > .menu-1 {
  flex: .2;
} */

/* .page > .head > .menu > .menu-1 > * {
  margin-inline: 1rem;
}

.page > .head > .menu > .menu-2 > * {
  margin-inline: 1rem;
} */

.page > .body > .sidebar {
  flex: 0.08;
  background-color: rgb(195, 215, 232);
}

.page > .body > .sidebar {
  flex-direction: column;
}

.page > .body > .content {
  flex: 1;
  flex-direction: column;
}

.page > .body > .content > .head {
  flex: 0.1;
  background-color: rgb(239, 214, 161);
}

.page > .body > .content > .body {
  flex: 1;
  background-color: rgb(175, 239, 161);
}

.page > .body > .content > .foot {
  flex: 0.1;
  background-color: rgb(226, 198, 240);
}
