body {
  font-family: sans-serif;
  margin: 0;
}
header {
  background: purple;
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

/* SECTION & ARTICLE */

section {
  zoom: 0.8;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
article {
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  background: aqua;
  flex: 1 100px;
}

article:nth-of-type(3) {
    flex: 2 100px;
}
