/* GENERAL SETTINGS */

/* ORDER */

/* ORDER RECAP */

/* ORDER RECAP BREADCRUMB */

/* ORDER RECAP TITLE  */

/* ORDER RECAP HELP  */

/* ORDER INPUT */

/* ORDER INPUT FILTERS */

/* ORDER INPUT FILTERS CHOOSE-RECORD */

/* ORDER INPUT FILTERS VIEW-BY */

/* ORDER INPUT ACTIONS */

/* ORDER INPUT ACTIONS REQUIRED-INFO */

/* ORDER INPUT ACTIONS BUTTONS */

/* ORDER INPUT FORM */

/* ORDER INPUT FORM LEFT */

/* ORDER INPUT FORM RIGHT */

/* ORDER OUTPUT */

/* ORDER OUTPUT FILTERS */

/* ORDER OUTPUT FILTERS CHOOSE-1 */

/* ORDER OUTPUT FILTERS QUICK-FIND */

/* ORDER OUTPUT FILTERS ADD-ORDER */

/* ORDER OUTPUT FILTERS ACTIONS-MENU */

/* ORDER OUTPUT FILTERS REPORT-MENU */

/* ORDER OUTPUT TABLE */

/* ORDER OUTPUT TOTALS-AND-SHIP */

/* ORDER OUTPUT TOTALS-AND-SHIP SHIP-INPUT */

/* ORDER OUTPUT TOTALS-AND-SHIP TOTALS */

/* ORDER OUTPUT ACTIONS */

/* ORDER OUTPUT ACTIONS REQUIRED-INFO */

/* ORDER OUTPUT ACTIONS BUTTONS */
