/* GENERAL SETTINGS */

body {
  padding: 1rem;
}

.red-border {
  border: 1px solid red;
}


section.order > * {
  border: 1px dotted red;
}

section.order > * > * {
  border: 1px dotted blue;
}


/* ORDER */
section.order {
  padding: 1rem;
}

/* ORDER RECAP */
section.order section.recap {
  padding: 0.5rem;
}

/* ORDER RECAP BREADCRUMB */



/* ORDER RECAP TITLE  */

section.order section.recap .title {
    margin-bottom: 1rem;
}


/* ORDER RECAP HELPER  */

section.order section.recap .helper {
    font-size: 0.7rem;
    color: lightgray;
}

/* ORDER INPUT */



/* ORDER INPUT FILTERS */

/* ORDER INPUT FILTERS CHOOSE-RECORD */

/* ORDER INPUT FILTERS VIEW-BY */

/* ORDER INPUT ACTIONS */

/* ORDER INPUT ACTIONS LEFT */

/* ORDER INPUT ACTIONS LEFT REQUIRED-INFO */

/* ORDER INPUT ACTIONS RIGHT */

/* ORDER INPUT ACTIONS RIGHT BUTTONS */

/* ORDER INPUT FORM */

/* ORDER INPUT FORM LEFT */

/* ORDER INPUT FORM RIGHT */

/* ORDER OUTPUT */

/* ORDER OUTPUT FILTERS */

/* ORDER OUTPUT FILTERS CHOOSE-1 */

/* ORDER OUTPUT FILTERS QUICK-FIND */

/* ORDER OUTPUT FILTERS ADD-ORDER */

/* ORDER OUTPUT FILTERS ACTIONS-MENU */

/* ORDER OUTPUT FILTERS REPORT-MENU */

/* ORDER OUTPUT TABLE */

/* ORDER OUTPUT TOTALS-AND-SHIP */

/* ORDER OUTPUT TOTALS-AND-SHIP LEFT SHIP-INPUT */

/* ORDER OUTPUT TOTALS-AND-SHIP RIGHT TOTALS */

/* ORDER OUTPUT ACTIONS */

/* ORDER OUTPUT ACTIONS LEFT REQUIRED-INFO */

/* ORDER OUTPUT ACTIONS RIGHT BUTTONS */
