
/* GENERAL SETTINGS */

body {
  padding: 1rem;
  font-family: 'Noto Sans', sans-serif;
}

.red-border {
  border: 1px solid red;
}

section.order > * {
  /*FRAME*/
  /* border: 2px solid red;  */
  padding: 0.2rem;
}

section.order > * > * {
  /*FRAME*/
  /* border: 1px dotted blue;  */
  padding: 0.2rem;
}

section.order > *:not(:last-child) {
  margin-bottom: 0.3rem;
}

section.order > * > *:not(:last-child) {
  margin-bottom: 0.3rem;
}

/* ORDER */
section.order {
  padding: 0.5rem;
  box-shadow: 1px 5px 10px 1px;
}

/* ORDER RECAP */
section.order section.recap {
  /* padding: 0.5rem; */
}

/* ORDER RECAP BREADCRUMB */

/* ORDER RECAP TITLE  */

section.order section.recap .title {
  /* margin-bottom: 1rem; */
}

/* ORDER RECAP HELPER  */

section.order section.recap .helper {
  font-size: 0.7rem;
  color: lightgray;
}

/* ORDER INPUT */

section.order section.input {
}

/* ORDER INPUT FILTERS */

section.order section.input .filters {
  /* display: ; */
  padding-inline: 0.5rem;
  background-color: lightgray;
}

section.order section.input .filters .left,
section.order section.input .filters .right {
  width: max-content;
  display: inline-block;
}

section.order section.input .filters .right {
  float: right;
}

section.order section.input .filters .right > * {
  /* display: inline-block; */
}

/* ORDER INPUT FILTERS LEFT CHOOSE-RECORD */
section.order section.input .filters .left .choose-record {
  display: inline-block;
}

/* ORDER INPUT FILTERS RIGHT VIEW-BY */

section.order section.input .filters .right .view-by {
  display: inline-block;
}

/* ORDER INPUT ACTIONS */

section.order section.input .actions {
  padding: 0.6rem 0.1rem;
}

section.order section.input .actions .left,
section.order section.input .actions .right {
  width: max-content;
  display: inline-block;
}

section.order section.input .actions .right {
  float: right;
  margin-top: -4px;
}

/* ORDER INPUT ACTIONS LEFT */

/* ORDER INPUT ACTIONS LEFT REQUIRED-INFO */

/* ORDER INPUT ACTIONS RIGHT */

/* ORDER INPUT ACTIONS RIGHT BUTTONS */

/* ORDER INPUT FORM */

/* ORDER INPUT FORM LEFT */

/* ORDER INPUT FORM RIGHT */

/* ORDER OUTPUT */

section.order section.output .filters-and-tables {
  border: 2px solid lightgray;
}

/* ORDER OUTPUT FILTERS */

section.order section.output .filters {
  border: 1px solid black;
  padding: 0.3rem;
  background-color: lightgray;
}

section.order section.output .filters > * {
  display: inline-block;
}

/* ORDER OUTPUT FILTERS CHOOSE-1 */

/* ORDER OUTPUT FILTERS QUICK-FIND */

/* ORDER OUTPUT FILTERS ADD-ORDER */

/* ORDER OUTPUT FILTERS ACTIONS-MENU */

/* ORDER OUTPUT FILTERS REPORT-MENU */

/* ORDER OUTPUT TABLES */

section.order section.output .tables > * {
  width: 100%;
}

section.order section.output .tables table.items td,
section.order section.output .tables table.stats td {
  width: 10%;
}

section.order section.output .tables table.items {
  text-align: left;
  border-bottom: 2px dashed lightgray;
  /* border-collapse: separate; */
  border-collapse: collapse;

  border-spacing: 0.5rem 0.6rem;
}

section.order section.output .tables table.items tbody tr {
  /* border-right: 1px dashed black; */
}

section.order section.output .tables table.stats {
  text-align: right;
  color: gray;
  font-weight: bold;
  margin-block: 0.3rem;
}

/* unit price, quantity, discount, extended price etc. */
section.order section.output .tables table.items thead tr th:last-child,
section.order section.output .tables table.items tbody tr td:nth-child(2),
section.order section.output .tables table.items tbody tr td:nth-child(3),
section.order section.output .tables table.items tbody tr td:nth-child(4),
section.order section.output .tables table.items tbody tr td:last-child,
section.order section.output .tables table.stats tbody tr td:last-child {
  text-align: right;
}

section.order section.output .tables table.items tbody tr td {
  padding: 0.4rem;
  border-right: 1px dotted gray;
  border-bottom: 1px dotted gray;
}

section.order section.output .tables table.items thead tr {
  border-bottom: 1px dotted gray;
  font-weight: bold;
}

section.order section.output .tables table.items thead tr th {
  padding-block: 0.8rem;
}

section.order section.output .tables table.items tbody tr {
  /* padding-block: .8rem; */
  /* margin-bottom: .5rem */
}

section.order section.output .tables table.items tbody tr:not(:last-child) {
  /* padding-block: .8rem; */
  /* margin-bottom: 3rem */
}

section.order section.output .tables table.stats td.avg-unit-price {
  /* column-span: 2; */
}

section.order section.output .tables table.stats td.sum-quantity {
  /* column-span: 1; */
  /* text-align: left; */
}

section.order section.output .tables table.stats td.avg-discount {
  /* column-span: 1; */
  /* text-align: left; */
}

section.order section.output .tables table.stats td.sum-extended-price {
  /* column-span: 1; */
}

/* ORDER OUTPUT TOTALS-AND-SHIP */

/* ORDER OUTPUT TOTALS-AND-SHIP LEFT SHIP-INPUT */

/* ORDER OUTPUT TOTALS-AND-SHIP RIGHT TOTALS */

/* ORDER OUTPUT ACTIONS */

/* ORDER OUTPUT ACTIONS LEFT REQUIRED-INFO */

/* ORDER OUTPUT ACTIONS RIGHT BUTTONS */
