table {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}

td, th {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: .4rem;
}

thead tr th {
    border-bottom: 2px solid black;
}